/* Header 头部变量 */

// 一级导航栏背景色
$background-color: #E74C3C;
$link-color: #00c1de;
// 搜索
$search-bgc: #D52D1A;

// 一级导航栏a:hover
$nav-link-hover: rgba(231,75,60, .7);

// 二级导航栏a:hover
$sub-link-hover: rgb(87,102,99);
