{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "markup",
                    "python",
                    "scss"
                ],
                "plugins": [
                    "line-numbers",
                    "highlight-keywords",
                    "keep-markup",
                    "line-highlight",
                    "normalize-whitespace",
                    "remove-initial-line-feed",
                    "toolbar",
                    "show-language"
                ],
                "theme": "coy",
                "css": true
            }
        ]
    ]
}